version: "3"
services:
    web:
        container_name: webapp
        build: ./PollWebApi
        ports:
            - "8010:80"
        links:
        - db
    db:
        image: mysql:5.7
        ports:
          - "3306:3306"
        volumes:
          - ./mysql-datavolume:/var/lib/mysql
        environment:
          - MYSQL_ROOT_PASSWORD=root
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        links:
            - db
        ports:
            - 8183:80
        environment:
            - MYSQL_USER=root
            - MYSQL_ROOT_PASSWORD=root
    